.education {
  width: calc(100% - 100px);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.institute {
  color: #10dde3;
  margin-bottom: 20px;
  animation: specialeffect linear 3000ms infinite;
}

.education-content {
  display: flex;
  align-items: center;
}

.education-content:hover {
  text-shadow: 0 0 5px #10dde3;
}

.last {
  padding-bottom: 32px !important;
}

.text-education {
  margin-right: auto;
  max-width: calc(100% - 145px);
  text-align: left;
}

.institute-spans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 140px;
}

.institute-spans > span {
  display: block !important;
  text-align: right;
}

.institute-paras {
  margin-bottom: 0px;
}

@keyframes specialeffect {
  0% {
    text-shadow: 1.5px -1.5px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), 0.5px -0.5px 0 hsla(0, 100%, 50%, 1),
      0.25px -0.25px 0 hsla(0, 100%, 50%, 1),
      -1.5px 1.5px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1),
      -0.5px 0.5px 0 hsla(180, 100%, 50%, 1),
      -0.25px 0.25px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -1.5px -1.5px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      -0.5px -0.5px 0 hsla(180, 100%, 50%, 1),
      -0.25px -0.25px 0 hsla(180, 100%, 50%, 1),
      1.5px 1.5px 0 hsla(0, 100%, 50%, 1), 1px 1px 0 hsla(0, 100%, 50%, 1),
      0.5px 0.5px 0 hsla(0, 100%, 50%, 1), 0.25px 0.25px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow: -1.5px 1.5px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1), -0.5px 0.5px 0 hsla(0, 100%, 50%, 1),
      -0.25px 0.25px 0 hsla(0, 100%, 50%, 1),
      1.5px -1.5px 0 hsla(180, 100%, 50%, 1), 1px -1px 0 hsla(180, 100%, 50%, 1),
      0.5px -0.5px 0 hsla(180, 100%, 50%, 1),
      0.25px -0.25px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 1.5px 1.5px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1), 0.5px 0.5px 0 hsla(180, 100%, 50%, 1),
      0.25px 0.25px 0 hsla(180, 100%, 50%, 1),
      -1.5px -1.5px 0 hsla(0, 100%, 50%, 1), -1px -1px 0 hsla(0, 100%, 50%, 1),
      -0.5px -0.5px 0 hsla(0, 100%, 50%, 1),
      -0.25px -0.25px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow: 1.5px -1.5px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), 0.5px -0.5px 0 hsla(0, 100%, 50%, 1),
      0.25px -0.25px 0 hsla(0, 100%, 50%, 1),
      -1.5px 1.5px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1),
      -0.5px 0.5px 0 hsla(180, 100%, 50%, 1),
      -0.25px 0.25px 0 hsla(180, 100%, 50%, 1);
  }
}

@media screen and (max-width: 480px) {
  .education {
    width: calc(100% - 60px);
  }
  .institute {
    font-size: 1em;
  }
  .institute-paras {
    font-size: 0.8em;
  }
  .institute-spans > span {
    font-size: 0.8em;
  }
  .institute-spans {
    min-width: 110px !important;
    max-width: 110px !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 880px) {
  .education {
    width: calc(100% - 70px);
  }
}
