.achievements {
  width: calc(100% - 100px);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: #10dde3;
  margin-bottom: 20px;
  animation: specialeffect linear 3000ms infinite;
}

.achievements-content {
  display: flex;
  align-items: center;
}

.achievements-content:hover {
  text-shadow: 0 0 5px #10DDE3;
}

.img-achieve {
  height: 40px !important;
  width: auto !important;
}

.last {
  padding-bottom: 32px !important;
}

.text-achieve {
  margin-left: auto;
  max-width: 50%;
}

@keyframes specialeffect {
  0% {
    text-shadow: 1.5px -1.5px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), 0.5px -0.5px 0 hsla(0, 100%, 50%, 1),
      0.25px -0.25px 0 hsla(0, 100%, 50%, 1),
      -1.5px 1.5px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1),
      -0.5px 0.5px 0 hsla(180, 100%, 50%, 1),
      -0.25px 0.25px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -1.5px -1.5px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      -0.5px -0.5px 0 hsla(180, 100%, 50%, 1),
      -0.25px -0.25px 0 hsla(180, 100%, 50%, 1),
      1.5px 1.5px 0 hsla(0, 100%, 50%, 1), 1px 1px 0 hsla(0, 100%, 50%, 1),
      0.5px 0.5px 0 hsla(0, 100%, 50%, 1), 0.25px 0.25px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow: -1.5px 1.5px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1), -0.5px 0.5px 0 hsla(0, 100%, 50%, 1),
      -0.25px 0.25px 0 hsla(0, 100%, 50%, 1),
      1.5px -1.5px 0 hsla(180, 100%, 50%, 1), 1px -1px 0 hsla(180, 100%, 50%, 1),
      0.5px -0.5px 0 hsla(180, 100%, 50%, 1),
      0.25px -0.25px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 1.5px 1.5px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1), 0.5px 0.5px 0 hsla(180, 100%, 50%, 1),
      0.25px 0.25px 0 hsla(180, 100%, 50%, 1),
      -1.5px -1.5px 0 hsla(0, 100%, 50%, 1), -1px -1px 0 hsla(0, 100%, 50%, 1),
      -0.5px -0.5px 0 hsla(0, 100%, 50%, 1),
      -0.25px -0.25px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow: 1.5px -1.5px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), 0.5px -0.5px 0 hsla(0, 100%, 50%, 1),
      0.25px -0.25px 0 hsla(0, 100%, 50%, 1),
      -1.5px 1.5px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1),
      -0.5px 0.5px 0 hsla(180, 100%, 50%, 1),
      -0.25px 0.25px 0 hsla(180, 100%, 50%, 1);
  }
}


@media screen and (max-width: 480px) {
  .achievements {
    width: calc(100% - 60px);
  }
  .achievements-content {
    flex-direction: column !important;
  }
  .text-achieve {
    max-width: 100% !important;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.25em;
    padding-bottom: 1em;
  }
  .img-achieve {
    margin-top: 17px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 880px) {
  .achievements {
    width: calc(100% - 70px);
  }
}
